<form ng-submit="searchCity()">

  <div class="input-group">
    <input type="text" ng-model="cityName" class="form-control" placeholder="Cerca una città">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Cerca</button>
    </span>
  </div>

  <span us-spinner="{radius:30, width:8, length: 16}" ng-if="isSearching"></span>

</form>

<div class="alert alert-warning" role="alert" ng-if="noResults">
  <p>Nessun risultato</p>
</div>

<br>

<button class="btn btn-info" ng-click="resetData()">Elimina</button>
<button class="btn btn-info" ng-click="searchCity()">Aggiorna</button>

<table class="table" ng-if="searchList.length > 0">
  <thead>
  <tr>
    <th>City</th>
    <th>Date</th>
    <th>Day</th>
    <th>T-Max</th>
    <th>T-Min</th>
    <th>Condition</th>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="dateResponse in searchList">
    <td>{{dateResponse.description.slice(19)}}</td>
    <td>{{dateResponse.forecast[0].date}}</td>
    <td>{{dateResponse.forecast[0].day}}</td>
    <td>{{((((dateResponse.forecast[0].high)-32)/1.8).toPrecision(2))}} °C</td>
    <td>{{(((dateResponse.forecast[0].low)-32)/1.8).toPrecision(1)}} °C</td>
    <td>{{dateResponse.forecast[0].text}}</td>

  </tr>

  </tbody>
</table>

<div id="map" ng-if="searchList.length != null"></div>
